<h3>Comments</h3>
<hr style="width: 100%; color: black; height: 1px; background-color:black;" />
 <% commentable.comments.each do |comment| %>
 <% if comment.status == "Low" %>
  <div class="well" style="background: green; color: white">
  <% elsif comment.status == "Usual" %> 
  <div class="well" style="background: #e8e11e; color: white">
  <% else %>
  <div class="well" style="background: #d84b6b;; color: white">
 <% end %>
    <p><b> User role: <%= User.find(comment.user_id).role %></b></p>
 	<p>	<b> <%= comment.status %> priority </b> </p>
 	<br>
 	<p> <%= comment.content %> </p>
 	  </div>
<% end %>
